<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove Employee</title>
</head>
<body>
    <div class="container">
        <h2>Remove employee</h2>
    <hr>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Choose Employ to be removed
        </button>
        <ul class="dropdown-menu">
            {% for emp in emps %}
          <li><a class="dropdown-item" href="/remove_emp/{{emp.id}}">{{emp.first_name}} {{emp.last_name}}</a></li>
            {% endfor %}
        </ul>
      </div>

    
</body>
</html>